[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-tlib"]
	path = vim/bundle/vim-tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-github"]
	path = vim/bundle/vim-github
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule "vim/bundle/vim-toml"]
	path = vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "vim/bundle/vim-tagbar"]
	path = vim/bundle/vim-tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-clang-complete"]
	path = vim/bundle/vim-clang-complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "vim/bundle/vim-ctrlp"]
	path = vim/bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-nginx"]
	path = vim/bundle/vim-nginx
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "vim/bundle/vim-godef"]
	path = vim/bundle/vim-godef
	url = https://github.com/dgryski/vim-godef.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
