[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.io
After=network.target

[Service]
ExecStart=/usr/local/bin/docker -dD -r=false -s devicemapper --dns 8.8.8.8 --storage-opt dm.blkdiscard=false \
--tlscacert=/certs/ca.pem --tlscert=/certs/server-cert.pem --tlskey=/certs/server-key.pem \
-H=unix:///var/run/docker.sock -H=tcp://0.0.0.0:2376 --tls
Restart=on-failure
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
