[Unit]
Description=redis-server
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker run -p 6379:6379 --rm -v /volumes/redis:/redis --name redis --memory 512m --cpuset 1 crosbymichael/redis
ExecStop=/usr/local/bin/docker stop -t 5 redis
Restart=on-failure
RestartSec=7

[Install]
WantedBy=multi-user.target
