[Unit]
Description=skydns
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker start -a skydns
ExecStop=/usr/local/bin/docker stop -t 2 skydns
Restart=on-failure

[Install]
WantedBy=multi-user.target
